APP_NAME="syftbox-netflix-svd"
AGGREGATOR_DATASITE="svenlankester@gmail.com"
AGGREGATOR_DATA_DIR="data/"
NETFLIX_CSV="NetflixViewingHistory.csv"
OUTPUT_DIR="/home/<user>/Downloads"
SYFTBOX_ASSIGNED_PORT="8081"